div {
    background-color: lightgrey;
    width: 350px;
    border: 10px solid rgb(8, 8, 8);
    padding: 50px;
    margin: 20px;
    position: absolute;
    left: 35%;
    top: 35%;
    
  }
  #h3{
  text-align: center;
  text-shadow: 2px 2px 5px red;
  }
  #p{
      text-align: center;
  }